@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: all 0.35s;
    text-wrap: balance;
}

h2 {
    font-size: 30px;
    font-weight: bolder;
}

body {
    background-color: var(--black);
    overflow-x: hidden;
}

/* Colors */

.t-black {
    color: #09080D;
}

.b-black {
    background-color: #09080D;
}

.t-purple {
    color: #4528DC;
}

.b-purple {
    background-color: #4528DC;
}

.t-white {
    color: #F9F9F9;
}

.b-white {
    background-color: #F9F9F9;
}

.t-brown {
    color: #16151A;
}

.b-brown {
    background-color: #16151A;
}

:root {
    --black: #09080D;
    --purple: #4528DC;
    --white: #F9F9F9;
    --brown: #16151A;
}

.con {
    max-width: 1280px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.paragraph {
    color: rgba(249, 249, 249, 0.7555);

}

/* header */

header {
    z-index: 40;
    position: fixed;
    top: 0;
    right: 0;
}

.pages {
    position: relative;
    z-index: 40;
}

.drop-down {
    position: absolute;
    background-color: var(--white);
    margin-top: 1rem;
    padding: 1rem;
    width: 150px;
    display: none;
}

.drop-down:hover {
    display: block;
}

.pages:hover .drop-down {
    display: block;
}

.space {
    height: 2rem;
    width: 150px;
    position: absolute;
}

.space:hover~.drop-down {
    display: block;
}

.login:hover {
    background-color: var(--white);
    color: #09080D;
    transition: all 0.35s;
}

/* footer */
footer {
    /* height: 60vh; */
    padding: 10vh 0;
}

.social {
    background-color: rgba(249, 249, 249, 0.1);
    transition: all 0.35s;
}

.social:hover {
    background-color: var(--white);
    color: black;
}

/* Banner */

.banner {
    height: 90vh;
    padding: 15vh 0;
    position: relative;
}

.banner h2 {
    font-size: 60px;
    color: white;
}

.banner h3 {
    color: rgba(249, 249, 249, 0.7555);
    font-size: 25px;
}

.banner .explore-button:hover {
    background-color: white;
    color: black;
}

.banner .con .flex {
    z-index: 2;
}

.banner .background {
    clip-path: polygon(39% 84%, 57% 69%, 66% 76%, 81% 79%, 100% 69%, 100% 100%, 0 100%, 0 78%, 6% 69%, 25% 79%);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;

    z-index: 1;
}

/* New Slider */

.new {
    height: 100vh;
    padding: 15vh 0;
}

.slick-slide>div {
    margin: 0 1rem;
    height: 100%;
    display: flex !important;
}

.slick-slider {
    height: 100%;
    gap: 1rem;
}

.slider-container {
    height: 85%;
}

.img-container:hover img {
    transform: scale(1.25);
}

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100%;
}

.slick-slide {
    height: 100%;
}

.slick-dots {
    list-style: none;
}

.slick-dots li button::before {
    background-color: white;
    color: white;
    background-image: none !important;
    width: 2rem !important;
    height: 6px !important;
    margin-top: 1rem;

}

.slick-dots li {

    margin: 0 0.75rem !important;
}

/* top sellers */

.sellers {
    height: 70vh;
    padding: 10vh 0;
    background-color: var(--black);
}

/* Explore section */

.explore-section {
    background-color: var(--black);
    padding: 10vh 0;
}

.explore-section .explore-section-card {
    background-color: var(--brown);
    height: 60vh;
}

.explore-section .load-more:hover {
    background-color: var(--white);
    color: black;
}

.explore-section .load-more {
    font-weight: bolder;
}

/* how it works */

.how-it-works {
    background-color: var(--black);
    padding: 15vh 0;
}


/* explore */

.explore {
    padding: 15vh 0;
}

.search button:hover {
    background-color:#7763dc;
}
.cards {
    padding-top: 10vh;
}

.search input {
    text-transform: none;
}

.notFound {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* item preview */
.preview {
    height: calc(100vh - 5rem);
    padding: 10vh 0;
}
/* contact */
.contact {
    height: 100vh;
    padding: 10vh 0;
    margin-top: 5rem;
}


@media all and (max-width: 1280px) {
    .con {
        max-width: 1024px !important;
    }
}

@media all and (max-width: 1024px) {
    .con {
        max-width: 768px !important;
    }

    .sellers {
        height: 95vh;
    }
    .contact {
        height: 160vh;
    }
}

@media all and (max-width: 768px) {
    .con {
        max-width: 640px !important;
    }
}

@media all and (max-width: 640px) {
    .con {
        max-width: 96% !important;
    }

    .banner h2 {
        font-size: 50px;
        color: white;
    }

    .banner {
        height: auto;
    }

    .sellers {
        height: auto;
    }

    .sellers .con>h2 {
        margin-bottom: 2rem;
    }

    .explore-section .explore-section-card {
        height: 70vh;
    }
}